html{
    display: block;
}
body{
    background: #F7F7F7;
    color: #000;
    display: block;
    margin: 8px;
    height: 100%;
    padding: 0;
    border: 0;
    font: inherit;
    line-height: 1;
}
#container{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 58px;
    left: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}