<!DOCTYPE html>
<html>
<head>
    <title>MySpace</title>
</head>
<body>
    <div id="container">
        <section id="sidebar">
	
            <header><a href="/" ><i class="myspace-logo svg">Myspace</i></a></header>
            <a id="searchQuery" class="search" ><i class="search svg"></i><span>Search</span></a>
            <div>
                <h2 class="nav-title">Discover</h2>
                <nav>
                    <ul class="nav-links">
                        <li class="featured"><span>Featured</span></li>
                        <li class="featured"><span>Music</span></li>
                        <li class="featured"><span>Videos</span></li>
                        <li class="featured"><span>People</span></li>

                    </ul>
                </nav>
            </div>
            
                <div class="sign-up-sign-in">
                    <button id="sign-up" >Sign up</button>
                    <button id="sign-in" >Sign in</button>
                </div>
            
        
            <div id="footer_global">
                <span class="link">Help</span>
                <span id="site-info">Site Info</span>
                <br>
                <span class="link">Privacy</span>
                <span class="link">Terms</span>
                <br>
                <span class="link">Ad Opt-Out</span>
                <br>
                <span class="link do-not-sell">o-Not-Sell My Personal Information</span>
                <br>
                <br>
                <span class="network">A part of the People / Entertainment Weekly Network.</span>
        
                <div id="site-info-popup" class="">
                    <ul class="site-info-links">
                        <li>Report Abuse</li>
                        
                    </ul>
                    <p class="copyright">&copy; 2021 Myspace LLC.<br />All rights reserved</p>
                    <div class="arrow"></div>
                </div>
        
            </div>
        
        </section>
    </div>

    
</body>
</html>